.btn, a.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 6px 12px;
	font-size: 14px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: all 0.5s ease;
}

.btn-large, a.btn-large {
	width: 100%;
}

.btn-default {
	background-color: $soft-grey;
	border-color: $middle-grey;
}

.btn-default a {
	color: $dark !important;
}

.btn-default:hover {
	background-color: $soft-grey;
	border-color: #adadad;
}

.btn-primary {
	color: #FFF;
	background-color: $primary;
	border-color: $primaryDak;
}

.btn-alert, a.btn-alert {
	color: #FFF;
	background-color: $red;
	border-color: $redDark;
}