footer {
	margin: 5px 0px 0px 0px;
	padding: 30px 20px;
	background-color: $dark;
	color: #FDFEFE;
	display: flex;
	justify-content: space-between;
}

.footer-derechos {
	color: $soft-grey;
}

.footer-usuario a {
	color: $primary;
}