footer {
	margin: 5px 0px 0px 0px;
	padding: 30px 20px;
	background-color: $dark;
	color: #FDFEFE;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-derechos {
	color: $soft-grey;
}