// Panels
// Abrebiaturas
/*
  pnl   Panel
  ctn   Container
  lst   List
  lft   Left
  ttl   Title
  sub   Subtitle
  det   Detail
  rgt   Right
  fot   Footer
  hed   Head
*/

.panel-left {
  width: 230px;
  border: 1px solid $soft-grey;
}

.panel-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.panel-icon i {
  color: $green;
}

.panel-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: bold;
}

.panel-subtitle {
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: right;
}

.panel-footer a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: $middle-grey;
  border-top: 1px solid $soft-grey;
  background-color: $light-grey;
  padding: 10px 15px;
}

.panel-footer a span i {
  color: $info;
}

// List Panel With Download Button

.pnl-lst-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border: 1px solid $soft-grey;
  border-radius: 3px;
}

.pnl-lst-lft .pnl-lst-ttl {
  font-family: $font-opens-sans;
  font-size: 18px;
  color: $soft-grey;
}

.pnl-lst-lft .pnl-lst-det {
  font-size: 14px;
  color: $light-grey;
}

.pnl-lst-rgt {
  font-family: $font-opens-sans;
  font-size: 13px;
  text-align: left;
  color: $soft-grey;
}

.pnl-lst-rgt a {
  margin-left: 5px;
}

.pnl-lst-rgt a i {
  margin-right: 3px;
}

// List Panel With Detail

.pnl-det-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 15px 15px;
  border: 1px solid $soft-grey;
  border-radius: 3px;
}

.pnl-det-hed {
  border-bottom: 1px solid $soft-grey;
  padding-bottom: 10px;
}

.pnl-det-ttl {
  font-family: $font-opens-sans;
  font-size: 18px;
  color: $soft-grey;
  margin-bottom: 10px;
}

.pnl-det-ttl .pnl-det-det {
  font-size: 14px;
  color: rgb(221, 88, 38);
}

.pnl-det-sub {
  font-family: $font-opens-sans;
  font-size: 13px;
  text-align: left;
  color: $soft-grey;
}

.pnl-det-sub span {
  color: $soft-grey;
  font-size: 13px;
  margin-right: 5px;
}

.pnl-det-fot {
  margin-top: 10px;
}

// List Panel With Tow Buttons

.pnl-btn-cnt {
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border: 1px solid $soft-grey;
  border-radius: 3px;
  font-family: $font-opens-sans;
}

.btn-hed-cnt {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 7px;
  border-bottom: 1px solid $soft-grey;
}

.btn-hed-cnt .btn-hed-ttl {
  color: $dark-grey;
  font-size: 19px;
  text-transform: uppercase;
}

.btn-hed-cnt .btn-hed-ttl span {
  font-size: 13px;
  color: $dark-grey;
  text-transform: none;
}

.pnl-btn-fot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-fot-ctn .btn-lft-tlt {
  color: $dark-grey;
  font-size: 15px;
  margin-bottom: 3px;
}

.btn-fot-ctn .btn-lft-sub {
  font-size: 18px;
  color: $red;
}

.pnl-btn-rgt a i {
  margin-right: 3px;
}

.pnl-btn-rgt a {
  margin-left: 5px;
}
