// Panels
// Abrebiaturas
/*
  pnl   Panel
  ctn   Container
  lst   List
  lft   Left
  ttl   Title
  det   Detail
  rgt   Right
*/



.panel-left {
  width: 230px;
  border: 1px solid $soft-grey;
}

.panel-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.panel-icon i {
  color: $green;
}

.panel-title {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: bold;
}

.panel-subtitle {
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: right;
}

.panel-footer a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: $middle-grey;
  border-top: 1px solid $soft-grey;
  background-color: $light-grey;
  padding: 10px 15px;
}

.panel-footer a span i {
  color: $info;
}



// List Panel With Download Button

.pnl-lst-cnt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  border: 1px solid #dbdee0;
  border-radius: 3px;
}

.pnl-lst-lft .pnl-lst-ttl {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: rgb(85, 85, 85);
}

.pnl-lst-lft .pnl-lst-det {
    font-size: 14px;
  color: rgb(221, 88, 38);
}

.pnl-lst-rgt {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-align: left;
  color: #999;
}

.pnl-lst-rgt a i {
  margin-right: 3px;
}