// Colores
// Basado en las Paletas de Colores de http://www.colorhunt.co/popular


$primary:		#00ADB5;
$primaryDak:	darken($primary, 20%);
$primarySoft:	lighten($primary, 4%);

$info:			#FFA700;


// Escalas de Grises

$dark:			#222831;

$dark-grey:		#393E46;

$middle-grey:	#C9D6DF;

$soft-grey:		#fafafa;


// Colores Alertas

$red:			#E84545;	// Alert
$redDark:		darken($red, 20%);
$redsoft:		lighten($red, 4%);

$green:			#00B8A9;	// Success
$greenSoft:		lighten($green, 4%);

