// Colores
// Basado en las Paletas de Colores de http://www.colorhunt.co/popular
// Paleta de Colores Guardada en http://colorexplorer.com/currentpalette.aspx

// Colores Primarios

$primary:		#00ADB5;	// Primary
$info:			#FFA700;	// Info 		Naranja
$red:			#E84545;	// Alert		Rojo
$green:			#00B8A9;	// Success
$blue:			#039BE5;

// Tonos Colores Primarios

$primaryDak:	darken($primary, 20%);
$primarySoft:	lighten($primary, 4%);


$redDark:		darken($red, 20%);
$redsoft:		lighten($red, 4%);

$greenSoft:		lighten($green, 4%);


// Negro

$black: 		#000000;

// Escalas de Grises

$dark:			#212120;

$dark-grey:		#737370;

$middle-grey:	#818A90;

$soft-grey:		#E3E5E6;

$light-grey:	#F3F3F3;