@import "normalize";
@import "reset";
@import "colors";
@import "fuentes";
@import "tables";
@import "forms";
@import "flexboxgrid";
@import "jquery.editable-select";
@import "components/header";
@import "components/login";
@import "components/footer";
@import "components/button";
@import "components/alerts";

body {
   font-family: 'Roboto', sans-serif;
   background-color: $soft-grey;
}

// Estilos Página de Inicio

.flex-body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

.container {
   display: flex;
   flex-direction: row;
   flex: 1;
}

// Estilos Contenedores Principales

.row-container, .column-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex:1;
}

.column-container {
  flex-direction: column;
}

// Estilos Cajas Contenedoras de Parametros

.param-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  background-color: white;
  border: 1px solid $middle-grey;
}

.param-title {
  padding: 7px 0px 5px 7px;
  margin-bottom: 10px;
  border-bottom: 1px solid $middle-grey;
}

.param-subtitle{
  color: $dark-grey;
  padding: 15px 0px;
  border-bottom: 1px solid $soft-grey;
  margin-bottom: 15px;
}

.param-content {
  margin: 0px 10px 0px 10px;
}

// Estilos Cajas Contenedoras de Tamaño Medio

.middle-box {
  min-height: 300px;
  width: 600px;
}

.big-box {
  width: 800px
}

// Estilos Caja Contenedoras de Links - Tamaño Pequeño

.link-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border: 1px solid $middle-grey;
  width: 300px;
  height: 100px;
  margin: 10px;
}

.link-box-icon i {
  color: $info;
}

.link-title-menu a {
  text-decoration: none;
  color: $dark-grey;
  //padding: 100%;
}

// Estilos Pagina Entidades

.param-content ul li:first-child {
  padding-top: 0px;
}

.param-content ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid $soft-grey;
}

.entidad-item {
  width: 250px;
}

.entidad-item-edit a i {
  color: $primary;
}

.entidad-detalle {
  font-size: 9px;
}

// Estilos Pagina Detalle Entidades

.titleEntity{
  font-weight: bold;
  background-color: $soft-grey;
  padding: 10px;
}

.periodDetail {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid $middle-grey;
}

.periodDetail .detail > span {
  font-weight: bold;
}

// Estilos Pagina Editar Registro 4505

.containerDetail {
  display: flex;
  align-items: center;
  border: 1px solid $middle-grey;
  margin-bottom: 10px;
}

.boxDetail {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 0px 10px;
}

.boxItem {
  padding: 5px 0px;
}

.boxItem span {
  font-weight: bold;
  color:$dark-grey;
}

// Estilos Pagina Importar

.separatorControl {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.control-group {
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labelMun{
  margin-right: 20px;
}

.selectMun {
  flex-grow: 1;
  padding: 6px 12px;
  border: 1px solid $middle-grey;
  border-radius: .2em;
}

.file-upload {
  display:block;
}

.file-upload .file-select {
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  text-align: left;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
}

.file-upload .file-select .file-select-button {
  color: #FFF;
  background-color: $green;
  padding: 0 10px;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  border-radius: 0.2em;
}

.file-upload .file-select .file-select-name { 
  line-height: 3rem;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover {
  transition:all .3s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background-color: $greenSoft;
  color: #FFF;
  transition: all .3s ease-in-out;
}

.file-upload.active .file-select { 
  border-color: $green;
  transition: all .3s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: $green;
  color: #FFF;
  transition: all .3s ease-in-out;
}


.file-upload.active:hover .file-select .file-select-button {
  background: $greenSoft;
  color: #FFF;
  transition: all .3s ease-in-out;
}

.file-upload .file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled { 
  opacity:0.65;
}

.file-upload .file-select.file-select-disabled:hover { 
  cursor: default;
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  margin-top: 5px;
  text-align: left;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button { 
  padding: 0 10px;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name { 
  line-height: 3rem;
  display: inline-block;
  padding: 0 10px;
}


// Estilos Pagina Exportar

.list-export .list-item {
  margin-bottom: 10px;
  border-bottom: 3px solid $blue;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.export-boton a.btn {
  margin: 0;
}